.matchButton {
  width: 100%;
  height: 62px;
  background: #D9D9D9;
  color: #6C757D;
  border: none;
  border-radius: 12px;
  font-family: 'SUIT', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: not-allowed;
}

.matchButton.active {
  background: #212529;
  color: #FFFFFF;
  cursor: pointer;
}

.matchButton:disabled {
  opacity: 0.8;
}

/* .kakaoActive {
  width: 100%;
  height: 54px;
  background: #FEE500;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakaoDisabled {
  width: 100%;
  height: 54px;
  background: #D9D9D9;
  color: #6C757D;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
} */