.checkboxWrapper {
  display: flex;
  align-items: flex-start; 
  gap: 6px;
  margin-bottom: 24px;
}


.checkboxInput {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 3px; 
}

.checkboxLabel {
  
  font-size: 13px;
  line-height: 1.2;
}
