.itemContainer {
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 12px;
  background-color: white;
  transition: border-color 0.3s;
}

.itemTitle {
  overflow: hidden;
  color: var(--Color-Gray-3, #6C757D);
  font-feature-settings: 'liga' off, 'clig' off;
  padding-bottom: 6px;
  font-family: SUIT;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.325px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryTag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  white-space: nowrap;
  border: 1px solid;
}

.exchangeContent {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownIcon {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.dropdownIcon.isExpanded {
  transform: rotate(0deg); 
}
.detailContent {
  margin-top: 12px;
  padding-top: 12px;
  
  color: var(--Color-Gray-4, #212529);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  letter-spacing: -0.35px;
}

.tagsWrapper{
  color: var(--Color-Gray-3, #6C757D);
  font-feature-settings: 'liga' off, 'clig' off;
  padding-top: 10px;
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
}

.itemContainer.isPartner {
  border: 1px solid #ff9800;
}

.categoryTag.isPartner {
  color: var(--Color-Accent-Senior, #FFA04D);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
}

.itemContainer.isMine {
  border: 1px solid #42a5f5;
}

.categoryTag.isMine {
  color: var(--Color-Accent-Youth, #358DE2);
  font-feature-settings: 'liga' off, 'clig' off;

  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.3px;
}