/* 전체 화면 */
.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 24px;
  background: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'SUIT', sans-serif;
}

.topBar {
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
}

.backArrow {
  position: absolute;
  left: 0;
  font-size: 22px;
  cursor: pointer;
}

.title {
  margin: 0 auto;      
  font-size: 18px;
  font-weight: 600;
  color: #212529;
}


.content {
  text-align: center;
  margin-top: 150px;
}

.guideTitle {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 600;
  color: #212529;
}


.inputBoxWrapper {
  margin-top: 40px;
  text-align: left;
}

.label {
  font-size: 13px;
  color: #6C757D;
  display: block;
  margin-bottom: 6px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.inputBox {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  padding-right: 40px;
}

.inputBox::placeholder {
  color: #ADB5BD;
}

.inputSuffix {
    white-space: nowrap;
  margin-left: -40px;
  font-size: 14px;
  color: #6C757D;
}

.underline {
  width: 100%;
  height: 1px;
  background: #DEE2E6;
  margin-top: 4px;
}


.buttonArea {
  width: 100%;
  max-width: 390px;
  padding: 0 24px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}


.buttonDisabled {
  width: 100%;
  height: 62px;
  background: #D9D9D9;
  color: #6C757D;
  border: none;
  border-radius: 12px;

  font-family: 'SUIT', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  cursor: not-allowed;
}

.buttonActive {
  width: 100%;
  height: 62px;
  background: #212529;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;

  font-family: 'SUIT', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  cursor: pointer;
}
