.container {
  width: 100%;
  max-width: 390px; 
  margin: 0 auto;
  padding: 0;
  background: #F8F9FA;
  min-height: 100vh;
}

.main {
  max-width: 420px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  margin-top: 10px;
}

.buttonWrapper {
  margin-top: 24px;
  width: 100%;
}

.exchangeStats {  
  margin-top: 16px;
  text-align: center !important;
  color: #6C757D;
  font-weight: 600;
  font-size: 13px;
}
