.button {
  width: 100%;
  padding: 18px 0;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.inactive {
  background: #D9D9D9;
  color: #6C757D;
}

.active {
  background: #212529;
  color: #FFF;
}
