/* 

.container {
  padding: 16px;
  font-size: 14px;
}


@media (min-width: 768px) {
  .container {
    font-size: 16px;
    padding: 20px;
  }
}


@media (min-width: 1024px) {
  .container {
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
