.textBase {
  font-family: var(--font-family-suit);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  margin: 0; 
}

/* Headline 1 */
.headline1 {
  composes: textBase;
  font-size: var(--headline1-font-size);
  font-weight: var(--headline1-font-weight);
}

/* Headline 2 */
.headline2 {
  composes: textBase;
  font-size: var(--headline2-font-size);
  font-weight: var(--headline2-font-weight);
}

/* Headline 3 */
.headline3 {
  composes: textBase;
  font-size: var(--headline3-font-size);
  font-weight: var(--headline3-font-weight);
}

/* Body 1 */
.body1 {
  composes: textBase;
  font-size: var(--body1-font-size);
  font-weight: var(--body1-font-weight);
}

/* Body 2 */
.body2 {
  composes: textBase;
  font-size: var(--body2-font-size);
  font-weight: var(--body2-font-weight);
}

/* Button Text */
.button {
  composes: textBase;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}

/* Tab Text */
.tab {
  composes: textBase;
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
}

/* Caption 1 */
.caption {
  composes: textBase;
  font-size: var(--caption1-font-size);
  font-weight: var(--caption1-font-weight);
}