.buttonBase {
  display: flex;
  width: 100%;
  height: 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer; 
  border: none;
  border-radius: 10px; 
  transition: background-color 0.2s;
}

/* 어두운 회색 배경 */
.primary {
  composes: buttonBase;
  background-color: var(--color-gray-4); 
  color: var(--color-gray-0);
}

.disabled {
  composes: buttonBase;
  background-color: #D9D9D9; 
  color: var(--color-gray-3); 
}

.primary:hover {
  background-color: var(--color-black); 
}