.kakaoActive {
  width: 100%;
  height: 62px;
  background: #FEE500;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SUIT';
  font-size: 15px;
  font-weight: 600;
  color: #3A1D1D;
  cursor: pointer;
  transition: 0.2s ease;
}

.kakaoDisabled {
  width: 100%;
  height: 50px;
  background: #D9D9D9;
  border: none;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'SUIT';
  font-size: 15px;
  font-weight: 600;
  color: #6C757D;

  cursor: not-allowed;
}
